/* LoginPage.css */

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.login-page {
    background: url('../../asset/homepage.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: rgba(0, 0, 0, 0.85);
    /* background: url('../../asset/homepage.jpg') no-repeat center center fixed; */
}

.logo img {
    height: 40px;
}

.content {

    align-items: center;
    justify-content: center;
    /* background-color: rgba(255, 255, 255, 0.8); */
}


.hero-section {
    animation: slide-up 3s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 80%;
    /* Đặt giới hạn chiều rộng */
    margin: 0 auto;
    margin-bottom: 20px;
    /* Tạo khoảng cách với phần tử dưới */
    /* Căn giữa */
}



.animated-heading {
    font-size: 100px;
    /* Kích thước của chữ */
    animation: slide-up 3s ease-out;
    /* Tên của animation, thời gian và kiểu easing */
    animation-fill-mode: forwards;
    /* Giữ lại trạng thái cuối cùng của animation */
    opacity: 0;
    /* Bắt đầu với opacity 0 để ẩn đi */
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.form-login {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    text-align: center;
    max-width: 50%;
    height: 600px;
    /* Đặt chiều cao */
    /* Đặt giới hạn chiều rộng */
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    /* Căn giữa */
    align-items: center;
    margin-bottom: 30px;
}

.animated-formlogin {
    font-size: 50px;
    /* Kích thước của chữ */
    animation: slide-up 5s ease-out;
    /* Tên của animation, thời gian và kiểu easing */
    animation-fill-mode: forwards;
    /* Giữ lại trạng thái cuối cùng của animation */
    opacity: 0;
    /* Bắt đầu với opacity 0 để ẩn đi */
}

.form-seaction1 {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    text-align: center;
    max-width: 50%;
    height: 600px;
    /* Đặt chiều cao */
    /* Đặt giới hạn chiều rộng */
    margin-left: 30px;
    margin-top: 50px;
    display: flex;
    /* Căn giữa */
    align-items: center;
    margin-bottom: 30px;
}

.form-seaction2 {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    text-align: center;
    max-width: 50%;
    height: 600px;
    margin-top: 50px;
    margin-left: 900px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.section {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 20px;

}

.img-seaction1 {
    animation: slide-up 5s ease-out;
    /* Tên của animation, thời gian và kiểu easing */
    animation-fill-mode: forwards;
    /* Giữ lại trạng thái cuối cùng của animation */
    opacity: 0;
    max-width: 400px;
    height: 350px;
    margin-right: 20px;
    border-radius: 8px;
}

.img-seaction2 {
    animation: slide-up 7s ease-out;
    /* Tên của animation, thời gian và kiểu easing */
    animation-fill-mode: forwards;
    /* Giữ lại trạng thái cuối cùng của animation */
    opacity: 0;
    max-width: 400px;
    height: 350px;
    margin-right: 20px;
    border-radius: 8px;
}

.img-seaction3 {
    animation: slide-up 9s ease-out;
    /* Tên của animation, thời gian và kiểu easing */
    animation-fill-mode: forwards;
    /* Giữ lại trạng thái cuối cùng của animation */
    opacity: 0;
    max-width: 400px;
    height: 350px;
    margin-right: 20px;
    border-radius: 8px;
}

.img-seaction4 {
    animation: slide-up 10s ease-out;
    /* Tên của animation, thời gian và kiểu easing */
    animation-fill-mode: forwards;
    /* Giữ lại trạng thái cuối cùng của animation */
    opacity: 0;
    max-width: 400px;
    height: 350px;
    margin-right: 20px;
    border-radius: 8px;
}


.footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
}